/****************************************************************
* file: 	plugins/custom-blurb/css/templates/default.css
* author:	toy
* date:		02sep11
* re:		css custom blurb css for default template
*
*
* rev history
* [toy 08sep11]		orig version
* 
*****************************************************************/
.default-blurb {background: #E7E7F1; margin: 0 0 20px 0; padding: 10px; border: solid 1px #ddd;}
    .default-blurb h5 {line-height: normal;}
    .default-blurb ul {list-style: none; margin: 0px; padding: 0 10px 0 0; border: solid 0px red; }
    .default-blurb li {overflow: auto; list-style: none; margin: 0px 0 15px 0; padding: 0 10px 0 0; border: solid 0px red; }
        .default-blurb li .img {width: 80px; float: left; }
        .default-blurb li .details {width: 190px; float: right; }
            .default-blurb li .details .teaser {font-size: 10px; line-height:normal; margin: -15px 0 0 0; }
            